{% extends 'layout.twig' %}

{% block body %}

    <div class="container-fluid text-center margin-top">
        <h1>{{ title }}</h1>
        <br>
        <div class="container">
            <p> Willkommen bei unserer Netzwerkverwaltungsanwendung!
                Wir freuen uns, Sie in unserer Anwendung willkommen zu heißen. <br>
                <br> Hier können Sie Ihr Netzwerk effizient verwalten und überwachen.

                <br><br> Mit unseren leistungsstarken Funktionen und
                benutzerfreundlichen Schnittstellen stehen Ihnen alle Tools zur Verfügung, um Ihr Netzwerk optimal zu
                steuern. Falls Sie Fragen haben oder Hilfe benötigen, zögern Sie nicht, unseren Kundensupport zu
                kontaktieren. Wir sind hier, um Ihnen zu helfen und sicherzustellen, dass Ihre Netzwerkverwaltung
                reibungslos abläuft.
                <br>
                <br><strong>Willkommen an Bord!</strong>
            </p>
        </div>
    </div>
{% endblock %}
